:root {
  --back: black;
  --fore: lightgrey;
  --color: red;
  --accent: lightblue;
  overflow: hidden;
}

body {
  background-color: var(--back);
  color: var(--color);
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
}

canvas {
  position: absolute;
  height: 100vh;
  width: 100vh;
  top: 0;
  left: 0;
  background-color: var(--fore);
}

#controls {
  border: 1px dotted var(--color);
  position: absolute;
  height: 100vh;
  left: 100vh;
  right: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-x: scroll;
  overflow-y: hidden;
}

#controls>* {
  min-height: 2rem;
  min-width: 45%;
  border: 1px solid var(--color);
}

#movement-select>*:is(group) {
  border: 2px solid var(--accent);
  border-radius: 10px;
  padding-inline: 1rem;
  flex-grow: 1;
}

#dpads-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
}

#dpads-container {
  visibility: hidden;
}

#simple_movement:checked~#dpads-container {
  visibility: visible;
}

.dpad {
  margin: 0;
  background-color: var(--fore);
  border-radius: 50%;
  flex-grow: 1;
  min-width: 100px;
  min-height: 100px;
}

@media screen and (orientation: portrait) {
  canvas {
    position: absolute;
    width: 100vw;
    height: 100vw;
    right: 0;
  }

  #controls {
    width: 100vw;
    top: 100vw;
    height: calc(100vh - 100vw);
    /* bottom: 0; */
    left: 0;
    flex-direction: row;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #controls>* {
    min-height: 5rem;
    min-width: calc(100% / 3);
  }
}