:root {
  --back: #000;
  --fore: #CCC;
  --border: #000;
  --color: #9EF;
  --accent: #5CC;
  overflow: hidden;
}

body {
  background-color: var(--back);
  color: var(--color);
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
}

#fieldcanvas {
  position: absolute;
  height: 100vh;
  width: 100vh;
  top: 0;
  left: 0;
  background-color: var(--fore);
  z-index: 1;
}

.controls {
  border: 1px dotted var(--color);
  position: absolute;
  height: 100vh;
  left: 100vh;
  right: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-x: scroll;
  overflow-y: hidden;
}

.controls>*:not(.joystick-container):not(#movement-select) {
  min-height: 2rem;
  min-width: 45%;
  border: 1px solid var(--border);
  flex-grow: 1;
}

group {
  border: 2px solid var(--accent);
  padding-inline-end: 1rem;
  border-radius: 10px;
}

#movement-select {
  height: 7rem;
}

label {
  margin-inline-start: 1rem;
}

.joystick-container {
  min-height: calc((100vh - 10rem) / 2);
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

.joystick {
  margin: 0.5rem;
  background-color: var(--fore);
  border-radius: 50%;
  border: 0.5rem solid var(--border);
  height: 90%;
  aspect-ratio: 1;

  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 2;
}

.tracker {
  background-color: var(--fore);
  border-radius: 50%;
  height: 20%;
  aspect-ratio: 1;
  
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 3;
}

@media screen and (orientation: portrait) {
  #fieldcanvas {
    position: absolute;
    width: 100vw;
    height: 100vw;
    right: 0;
  }

  .controls {
    width: 100vw;
    top: 100vw;
    height: calc(100vh - 100vw);
    /* bottom: 0; */
    left: 0;
    flex-direction: row;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .controls>* {
    min-height: 5rem;
    min-width: calc(100% / 3);
  }
}