:root {
  --back: black;
  --fore: lightgrey;
  --color: red;
  overflow: hidden;
}

body {
  background-color: var(--back);
  color: var(--color);
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  height: 100vh;
  width: 100vh;
  top: 0;
  left: 0;
  background-color: var(--fore);
}

#controls {
  border: 1px dotted var(--color);
  position: absolute;
  height: 100vh;
  left: 100vh;
  right: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
}

#controls>* {
  min-height: 2rem;
  min-width: 45%;
}

@media screen and (orientation: portrait) {
  canvas {
    position: absolute;
    width: 100vw;
    height: 100vw;
    right: 0;
  }

  #controls {
    width: 100vw;
    top: 100vw;
    height: calc(100vh - 100vw);
    /* bottom: 0; */
    left: 0;
    flex-direction: row;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #controls>* {
    min-height: 45%;
    min-width: 3rem;
  }
}